<center>
  <div class="about-header">
    <img class="img-circle" style="height:350px;margin:50px;" src="https://scontent-lax1-1.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/11822783_10100193770219879_5826951330835684536_n.jpg?oh=f25b5aa0544acc42fdf69ff2dadfaa69&oe=564813B5">
  </div>
  <div class="main-title2">
    about maur-unity
  </div>
</center>